.container{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #F4F5F6;
    min-height: 100vh;
}

.aramisLogo{
    margin-top: 2rem;
    width: 17rem;
    height: 5rem;
}

.create{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.form,
.formModal,
.modalDelete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.formModal,
.modalDelete{
    background-color: #F4F5F6;
    padding: 2rem;
    border-radius: .4rem;
}

.input,
.fileWrapper{
    width: 20rem;
    border: none;
    background-color: #e3e3e3;
    height: 2rem;
    border-radius: .4rem;
    outline: none;

    font-family: 'Montserrat';
    text-indent: 1rem;
    overflow: hidden;
}

/* .file{
    cursor: pointer;
    font-family: 'Montserrat';
    margin-left: -9.3rem;
    margin-top: .3rem;
    width: 30rem;
    height: 5rem;
} */

.file::-webkit-file-upload-button {
    visibility: hidden;
}
.file::before {
    width: 500px;
    content: 'Seleccionar Archivo';
    display: inline-block;
    border: none;
    border-radius: 3px;
    padding: 5px 5px;
    margin-top: 3px;
    outline: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 10pt;
    font-family: 'Montserrat';
}

.btnSubmit,
.btnSubmitError,
.btnDelete,
.btnCancel{
    width: 100%;
    height: 2.5rem;
    border-radius: .4rem;
    border: none;
    background-color: #20613F;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 500;
    margin: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.btnSubmitError{
    cursor: not-allowed;
    background-color: #818181;
}

.btnDelete{
    background-color: #cc4747;
}

.search{
    display: flex;
    flex-direction: row;
}

.input::placeholder{
    color: #20613F;
    font-size: 1rem;
}

.lupaContainer{
    margin-left: -1rem;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: .4rem;
    background-color: #20613F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color .5s;
    cursor: pointer;
}

.lupaContainer:hover{
    background-color: #307c55;
}

.lupa{
    width: 1.4rem;
    height: 1.4rem;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.7rem;
    margin-bottom: 5rem;
}

.skeletonCard{
    width: 300px;
    height: 100px;
    border-radius: .4rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.115), 0 5px 5px rgba(0, 0, 0, 0.132);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    background: 
    linear-gradient(0.25turn, transparent, rgb(240, 240, 240), transparent),
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));  
    background-repeat: no-repeat;
    background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px; 
    background-position: -315px 0, 0 0, 0px 190px, 50px 195px; 
    animation: loading 1.5s infinite;
}

@keyframes loading {  
    to {
      background-position: 315px 0, 0 0, 0 190px, 50px 195px;
    }
  }

.skeletonImg{
    height: 80px;
    width: 80px;
    background-color: #e9e9e9;
    border-radius: .4rem;
    margin-left: 1rem;
    margin-top: 10px;
}

.skeletonTitle{
    height: 25px;
    width: 150px;
    background-color: #e9e9e9;
    border-radius: .4rem;
    margin-top: 15px;
}

.modalTitle,
.moduleTitle{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: 600;
    margin: 0;
    color: rgb(0, 0, 0);
}

.moduleTitle{
    font-size: 2rem;
}

.btnCancel{
    background-color: #20613F;
}


.loadingDiv{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingGif{
    height: 80px;
    width: auto;
}


@media (max-width: 1350px) {
    .cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1050px) {
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}