.container,
.responsiveContainer{
    width: 220px;
    height: 380px;
    border-radius: .4rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.115), 0 5px 5px rgba(0, 0, 0, 0.132);
    overflow: hidden;
}

.imgContainer{
    height: 60%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.img{
    margin-top: 1.5rem;
    width: 150px;
    height: 70%;

    object-fit: contain;
}

.content{
    padding-top: 1rem;
    margin-top: -20%;
    width: 100%;
    background-color: white;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .6rem;
}

.data{
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.titleContainer,
.responsiveTitleContainer{
    width: 100%;
    height: 4.8rem;
    overflow: hidden;
}

.title,
.responsiveTitle{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 600;
    margin: 0;
    color: rgb(28, 28, 28);
}

.title{
    line-height: 1.2rem;
}

.selector{
    font-size: 1rem;
    font-family: 'Montserrat';
    font-weight: 600;
    margin: 0;
    color: rgb(28, 28, 28);
    width: 4rem;
    outline: none;
}

.btnCart,
.responsiveBtnCart{
    white-space: nowrap;
    width: 100%;
    height: 55px;
    border: none;
    background-color: #20613F;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 500;
    margin: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

 @media (max-width: 480px) {

    .responsiveContainer{
        width: 190px;
    }

    .responsiveTitle{
        font-size: 1rem;
    }

    .responsiveBtnCart{
        height: 49px;
        font-size: 1rem;
    }
}

@media (max-width: 420px) {

    .responsiveContainer{
        width: 150px;
        height: 350px;
    }

    .responsiveTitleContainer{
        height: 3.8rem;
    }

    .responsiveBtnCart{
        height: 45px;
        font-size: .8rem;
    }
}